<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [3]:
#Import the advertising dataset
df_adv = pd.read_csv(r'C:\Users\C. Dev\Downloads\1574412946_lesson8\Lesson 8\Advertising_Budget_and_Sales\Advertising Budget and Sales.csv')

#### 2: Analyze the dataset

In [4]:
#View the initial few records of the dataset
df_adv.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [8]:
#Check the total number of elements in the dataset
df_adv.size

1000

#### 3: Find the features or media channels used by the firm

In [7]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_adv.shape

(200, 5)

In [11]:
#View the names of each of the attributes
df_adv.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [20]:
#Create a feature object from the columns
x_features = df_adv[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [21]:
#View the feature object
x_features

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0               230.1                 37.8                     69.2
1                44.5                 39.3                     45.1
2                17.2                 45.9                     69.3
3               151.5                 41.3                     58.5
4               180.8                 10.8                     58.4
..                ...                  ...                      ...
195              38.2                  3.7                     13.8
196              94.2                  4.9                      8.1
197             177.0                  9.3                      6.4
198             283.6                 42.0                     66.2
199             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [24]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target = df_adv[['Sales ($)']]

In [25]:
#View the target object
y_target

     Sales ($)
0         22.1
1         10.4
2          9.3
3         18.5
4         12.9
..         ...
195        7.6
196        9.7
197       12.8
198       25.5
199       13.4

[200 rows x 1 columns]

In [27]:
#Verify if all the observations have been captured in the feature object
x_features.shape

(200, 3)

In [28]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [30]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_features, y_target)

In [32]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

#### 6: Create a model  to predict the sales outcome

In [34]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg_model = LinearRegression()
linreg_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
#Print the intercept and coefficients 
print("linear regression intercept = ", linreg_model.intercept_)
print("linear regression coefficients = ", linreg_model.coef_)

linear regression intercept =  [3.03510236]
linear regression coefficients =  [[ 0.04515979  0.19757419 -0.00742908]]

In [37]:
#Predict the outcome for the testing dataset
y_pred = linreg_model.predict(x_test)
y_pred

array([[20.52958515],
       [ 9.87635884],
       [24.89069085],
       [12.47432729],
       [17.00733119],
       [16.48944454],
       [10.58345651],
       [23.15246282],
       [ 7.57852302],
       [14.90724854],
       [ 9.11199842],
       [17.92077118],
       [15.58628555],
       [21.28568841],
       [12.85596761],
       [21.33180503],
       [12.89612469],
       [ 9.55218546],
       [16.70142638],
       [ 8.88625644],
       [21.53281845],
       [10.8260192 ],
       [11.7681353 ],
       [15.33821903],
       [15.80916792],
       [14.43916006],
       [18.33459362],
       [14.58908169],
       [12.95018686],
       [23.64873   ],
       [ 6.09639771],
       [14.78592261],
       [20.54235112],
       [12.00087385],
       [16.78458976],
       [ 5.68731725],
       [ 4.38714605],
       [ 6.11676958],
       [ 6.47861184],
       [ 9.1166002 ],
       [ 9.08146422],
       [13.45880466],
       [13.25740874],
       [19.24490829],
       [ 8.77670196],
       [ 6.53341936],
       [21.29718103],
       [13.50917991],
       [11.59487281],
       [14.17318639]])

#### 7: Calculate the Mean Square Error (MSE)

In [38]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics

In [39]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

2.1000986081192594